<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[${pageTitle}]]</title>
    <div th:replace="/layout/fragments :: html_head(type='tag')"></div>

    <!--    Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div th:replace="/layout/fragments :: header"></div>
<main id="main">
    <div class="container py-5" data-aos="fade-up">

    </div>
</main>
<div th:replace="/layout/fragments :: footer"></div>
<div th:replace="/layout/fragments :: back-to-top"></div>
</body>
</html>